* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}
#sidebar {
    background-color: #333333;
    color: white;
    width: 500px;
    min-height: 100vh;
    padding: 24px;
}

#sidebar h4 {
    margin-top: 0;
}

#sidebar ul {
    list-style-type: none;
    padding-left: 20px;
}

#sidebar .chapter {
    font-weight: bold;
    font-size: 24px;
}

#sidebar .edit {
    color: orange;
    font-style: italic;
}

#sidebar .chapter.edit {
    color: red;
}