* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#container {
    width: 500px;
    min-height: 100vh;
    background-color: #111;
    font-size: 0px;
    margin: 0 auto;
}

.block {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: gray;
}

/* Color Styles */
.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.purple {
    background-color: purple;
}